Repository HTU-Graz/Egiraffe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build

backend-build:
  image: rust:slim
  stage: build
  variables:
    CARGO_HOME: ${CI_PROJECT_DIR}/.cargo
  cache:
    paths:
    - .cargo
    - backend/target
  script:
  - cd backend && cargo build
  artifacts:
    paths:
    - backend/target/debug/egiraffe

frontend-build:
  image: node:latest
  stage: build
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-9 --activate
  - pnpm config set store-dir .pnpm-store
  script:
  - cd frontend && pnpm install && pnpm run build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
  artifacts:
    paths:
  ...

Fixed SQL
  backend/migrations/0001_initial.sql
Due: backend-build

Fixed a error (no idea how it got into the code)
  backend/src/api/v1/auth.rs
Due: backend-build

Enable Password logins using legacy sha512_crypt hashes ($6$) as they are used in the old egiraffe
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/api/v1/auth.rs
Due: backend-build

Frontend & backend: #8 working on `get_purchased_uploads` & frontend UI
  backend/src/api/v1/get.rs
  frontend/src/api/uploads.ts
  frontend/src/pages/library.tsx
  frontend/src/routes.ts
Due: backend-build, frontend-build

Frontend: #8 working on the library screen and `PurchaseInfoCard`
  frontend/src/api/uploads.ts
  frontend/src/components/Navbar.tsx
  frontend/src/pages/library.tsx
Due: frontend-build

Frontend & backend: #8 purchase button works
  backend/src/api/v1/action.rs
  frontend/src/api/uploads.ts
  frontend/src/pages/upload.tsx
Due: backend-build, frontend-build

Backend: fix(?) for the sql refactor
  backend/src/db/user.rs
Due: backend-build

Backend: #8 implement a library API call endpoint
  backend/src/api/v1/get.rs
  backend/src/data/mod.rs
Due: backend-build

Frontend & backend: #8 working on mod file approval
  backend/src/api/v1/content.rs
  frontend/src/api/moderate.ts
  frontend/src/components/ModFileCard.tsx
Due: backend-build, frontend-build

Backend: refactor table names to use plural (1/2)
  backend/migrations/0001_initial.sql
  backend/src/api/v1/users.rs
  backend/src/db/course.rs
  backend/src/db/init.rs
  backend/src/db/prof.rs
  backend/src/db/session.rs
  backend/src/db/sql/get_available_ecs_all_users.sql
  backend/src/db/sql/get_available_ecs_all_users_alt.sql
  backend/src/db/university.rs
  backend/src/db/upload.rs
  backend/src/db/user.rs
Due: backend-build

Backend: format some more sql
  backend/src/db/course.rs
  backend/src/db/init.rs
  backend/src/db/prof.rs
  backend/src/db/purchase.rs
  backend/src/db/session.rs
  backend/src/db/university.rs
  backend/src/db/upload.rs
  backend/src/db/user.rs
Due: backend-build

Backend: refactor table names to use plural (2/2)
  backend/migrations/0001_initial.sql
  backend/src/api/v1/content.rs
  backend/src/api/v1/ecs.rs
  backend/src/api/v1/get.rs
  backend/src/db/file.rs
  backend/src/db/purchase.rs
  backend/src/db/session.rs
  backend/src/db/sql/get_available_ecs.sql
  backend/src/db/sql/get_available_ecs_all_users.sql
  backend/src/db/sql/get_available_ecs_all_users_alt.sql
  backend/src/db/upload.rs
  backend/src/db/user.rs
Due: backend-build

Frontend: #8 fix the `Moderation` view
  frontend/src/pages/moderation.tsx
Due: frontend-build

Backend: format some sql
  backend/src/db/file.rs
Due: backend-build

Backend: refactor sql statements to replace `r#"` and `"#` with `"`
  backend/src/api/v1/get.rs
  backend/src/api/v1/users.rs
  backend/src/db/session.rs
  backend/src/db/user.rs
Due: backend-build

Backend: hotfix for the sql refactor
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Frontend & backend: #8 working on the upload card
  backend/src/api/v1/get.rs
  frontend/src/api/files.ts
  frontend/src/api/uploads.ts
  frontend/src/pages/upload.tsx
Due: backend-build, frontend-build

Frontend: hotfix missing name
  frontend/src/pages/create-upload.tsx
Due: frontend-build

Backend: dbg output for file upload
  backend/src/api/v1/action.rs
Due: backend-build

Frontend: new date fmt util fn
  frontend/src/utils/format.ts
Due: frontend-build

Backend: #18 prep a mod api to download files before approval
  backend/src/api/v1/content.rs
Due: backend-build

Backend: #18 mods can now dl files before mod-approval
  frontend/src/api/moderate.ts
  frontend/src/components/ModFileCard.tsx
Due: frontend-build

Backend: TODO notice
  backend/src/data/mod.rs
Due: backend-build

Frontend: format date properly
  frontend/src/api/files.ts
  frontend/src/api/uploads.ts
  frontend/src/pages/upload.tsx
  frontend/src/utils/format.ts
Due: frontend-build

Frontend: rm dbg log
  frontend/src/utils/format.ts
Due: frontend-build

Backend: include uploader nick in upload view
  backend/.sqlx/query-6931083e09b07db096edb4c6e65dacfbb5dcc4eeaaf647624f8baff45f23bf6d.json
  backend/Cargo.toml
  backend/src/api/v1/get.rs
Due: backend-build

Frontend: display uploader nick in upload view
  frontend/src/api/files.ts
  frontend/src/pages/upload.tsx
Due: frontend-build

Frontend: add the unit "byte" after the file size
  frontend/src/pages/upload.tsx
Due: frontend-build

Frontend: add TODO for human-readable file size
  frontend/src/pages/upload.tsx
Due: frontend-build

Frontend: add unit "ECs" for the price in upload view
  frontend/src/pages/upload.tsx
Due: frontend-build

Frontend: better? date formatting
  frontend/src/pages/upload.tsx
Due: frontend-build

Frontend: format file-change date properly
  frontend/src/pages/upload.tsx
Due: frontend-build

Add UUID specification
  design/UUIDs.md
Due: none

Backend: begin work on UUID v8 support & legacy compat
  backend/Cargo.toml
  backend/src/legacy.rs
  backend/src/main.rs
Due: backend-build

Backend: cargo fmt
  backend/src/api/v1/auth.rs
  backend/src/conf.rs
  backend/src/constantes.rs
  backend/src/db/mod.rs
  backend/src/main.rs
Due: backend-build

Backend: more fmt
  backend/src/data/mod.rs
Due: backend-build

Backend: legacy ID support
  backend/src/legacy.rs
  design/UUIDs.md
Due: backend-build

Backend: add an `associated_date` field
  backend/migrations/0001_initial.sql
  backend/src/api/v1/action.rs
  backend/src/api/v1/get.rs
  backend/src/data/mod.rs
  backend/src/db/file.rs
  backend/src/db/upload.rs
Due: backend-build

[WIP] Bakend: timezone-bs
  backend/src/api/v1/action.rs
  backend/src/api/v1/content.rs
  backend/src/api/v1/ecs.rs
  backend/src/api/v1/get.rs
  backend/src/api/v1/users.rs
  backend/src/data/mod.rs
  backend/src/db/upload.rs
Due: backend-build

Path conditions:
  backend-build: any of: backend/**/*
  frontend-build: any of: frontend/**/*
