Repository HTU-Graz/Egiraffe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build

.gitlab-ci.yml:

stages:
  - build

backend-build:
  image: rust:slim
  stage: build
  variables:
    CARGO_HOME: ${CI_PROJECT_DIR}/.cargo
  cache:
    paths:
      - .cargo
      - backend/target
  script:
    - cd backend && cargo build
  rules:
    - changes:
        - backend/**/*
  artifacts:
    paths:
      - backend/target/debug/egiraffe

backend-build-prod:
  image: rust:slim
  stage: build
  script:
    - cd backend && cargo build -r --features prod
  when: manual
  artifacts:
    paths:
      - backend/target/release/egiraffe

frontend-build:
  image: node:latest
  stage: build
  rules:
    - changes:
        - frontend/**/*
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest-9 --activate
    - pnpm config set store-dir .pnpm-store
  script:
    - cd frontend && pnpm install && pnpm run build
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  artifacts:
    paths:
      - frontend/dist/

DB: cargo sqlx prepare
  backend/.sqlx/query-0c480f9fcce02a65cc5823663c44bda9a48b8cfeba4e3084fece2ff4fb015569.json
  backend/.sqlx/query-2529f95e6476cc3c031566c7dbf6809f72ab58bbba31be9f3d05c5affe4f9145.json
  backend/.sqlx/query-2fe72f09968050840ca0aeef3d503bbf26c8092485d71b2a7a8d60eb615e82c8.json
  backend/.sqlx/query-3b426e0ae4572b9fdedb94d34445745a975e05c1f0602d9855e1d447a4929eca.json
  backend/.sqlx/query-6931083e09b07db096edb4c6e65dacfbb5dcc4eeaaf647624f8baff45f23bf6d.json
  backend/.sqlx/query-6b96ae3c5e9aadd60e30eda37c570854a74990b8ba5eecb282ea7b4d6bdcdfbc.json
  backend/.sqlx/query-6b9e66e9007ccc45600175877226d27e9918fcb7f8f237396eb7af3b92389df1.json
  backend/.sqlx/query-71ed8e5d246251cd8dc69a3203b3f5fee2860ea59b70460beb437748c4628c10.json
  backend/.sqlx/query-76c9f6cc1b06ae8a6c534cd3ec8c62e2cdb3ad9068c317c4856f2f63354c4735.json
  backend/.sqlx/query-a4aa48064d8fe5b264a223bbc6358b3494b706cde6c95a72122e51d43cacf246.json
  backend/.sqlx/query-c9bfe45a4f8cbb77a047e834b03a73e38b6739df8f0d785cc8454f4f43e4aa1a.json
  backend/.sqlx/query-d2d54e50ce0ed34cbea1c6ce78d6eda6842cdd3d5676cb7077aae7e46c430812.json
  backend/.sqlx/query-d6c2532e7a8b2e70b3f3b052f7590f4845a99eb31fd51d8cd192c3415dcb5e45.json
  backend/.sqlx/query-d85f1b380c2a5a3db7cf7ba11f082f8efe4a9616c96aa8c049aa4fba8e701054.json
  backend/.sqlx/query-da6c7bfa4764a04ac86024da1d7554f1b6bb97e9c1f730eefbd3bed0cb734398.json
  backend/.sqlx/query-e7a72a3e02ca80a0133c402fb68f0e949b25441dc85c3ce8036d3026f9b9c39c.json
Due: backend-build

Backend: impl upload type
  backend/migrations/0001_initial.sql
  backend/src/api/v1/action.rs
  backend/src/api/v1/get.rs
  backend/src/data/mod.rs
  backend/src/db/file.rs
  backend/src/db/upload.rs
Due: backend-build

Backend: sqlx prepare
  backend/.sqlx/query-28f9ea5cc9c48348050f0dbe12281d2f8ad9b9b27082dbf179b541055d2e426b.json
  backend/.sqlx/query-3e146d6a79ac73c79b639a9ad0bfa1fda6a6a84b56c9c1e824379083689978a0.json
  backend/.sqlx/query-4f08b7ddb850cfdf914f4b1f1121e70aaabfcae222ffdc567092cab0aad8a886.json
  backend/.sqlx/query-7171533772c9afc2d8998a2b104dbda030d87ff98cdc445a744c97ce571bdaea.json
  backend/.sqlx/query-9f2834d4a62e44cb22456df7a7f6c9bbfe02b3f3168606bf9ea11606299020f5.json
  backend/.sqlx/query-aebe473bcdc3f9d419e5b56cf525f44f099b552b97a40c20561a868736b2d864.json
  backend/.sqlx/query-aebfcaab365f315470d838cc15aed3d09a988b78d0da0846b063e16cd76df3f3.json
  backend/.sqlx/query-e58e7424d54da7c63793536e91e2eaf7223d94769e8bb3b20480609433724c63.json
Due: backend-build

Frontend & backend: upload_type works
  backend/src/db/upload.rs
  frontend/src/pages/create-upload.tsx
Due: backend-build, frontend-build

Backend: bump some deps
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/db/upload.rs
  backend/src/main.rs
Due: backend-build

Backend: bump some deps
  backend/Cargo.lock
  backend/Cargo.toml
Due: backend-build

Disabled Mail sending that creates errors
  backend/.sqlx/query-8fc2471d19930d6745000bf7840347c29d40883d232b13a418577afb8cd86e6a.json
  backend/.sqlx/query-9b3868621299e670748fce923b1d8329e42f69ab9cb854b6b7380b9a34427ab4.json
  backend/src/api/v1/auth.rs
Due: backend-build

Backend: store files with hashed names & dirs
  backend/.sqlx/query-002354fe5c4d03bef4488149b1c0d8e629f7c0e959d62b5e163a55f400d84648.json
  backend/.sqlx/query-0a40499a14fb29b1e7912c08879c79699b374419fec256a096c80857073630b1.json
  backend/.sqlx/query-1a35a141c2d765569bf05cbe5397454033607f30cfe49e762adaf82016636496.json
  backend/.sqlx/query-9a559fd256ea8c050310a0d87ee21ebb13f761de517dbffccd9ba0790990dce6.json
  backend/.sqlx/query-a9b99adbe7f62c67c1c19f8a99cce2c2fa962d7552fa7ba81921e5c9c2b9c877.json
  backend/.sqlx/query-c1da56a799256fada4d15f8681732b2af1fc3428d9c246857925cbb36197f535.json
  backend/.sqlx/query-ced80d3f452cb231b084817209b74ea9cb3de7e173b89e319fa5de2a4d6ff71d.json
  backend/.sqlx/query-d85f1b380c2a5a3db7cf7ba11f082f8efe4a9616c96aa8c049aa4fba8e701054.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/0001_initial.sql
  backend/src/api/v1/action.rs
  backend/src/api/v1/content.rs
  backend/src/data/mod.rs
  backend/src/db/file.rs
Due: backend-build

Backend: Fixed broken merge
  backend/Cargo.lock
Due: backend-build

Backend: prevent exposing ports to other hosts
  docker-compose.yml
Due: none

DB: audit tables
  .vscode/settings.json
  backend/migrations/0001_initial.sql
Due: backend-build

Backend: begin work on import
  backend/Cargo.toml
  backend/src/main.rs
Due: backend-build

Backend: begin work on importer
  .vscode/settings.json
  backend/Cargo.toml
  backend/src/conf.rs
  backend/src/db/mod.rs
  backend/src/import/mod.rs
  backend/src/main.rs
Due: backend-build

Import: some refactors
  backend/src/import/mod.rs
Due: backend-build

Import: first `query`: get `egiraffe_studium_universities`
  backend/src/db/mod.rs
  backend/src/import/mod.rs
Due: backend-build

Backend: add color fields to Uni and rename `email_domain_names`
  backend/migrations/0001_initial.sql
  backend/src/api/v1/university.rs
  backend/src/data.rs
  backend/src/db/init.rs
  backend/src/db/university.rs
  backend/src/db/user.rs
  backend/src/import.rs
  frontend/src/api/universities.ts
Due: backend-build, frontend-build

Setup: add pgadmin
  docker-compose.yml
Due: none

Import: universities are imported now
  backend/migrations/0001_initial.sql
  backend/src/api/v1/university.rs
  backend/src/data.rs
  backend/src/db/university.rs
  backend/src/import.rs
Due: backend-build

Import: fix universities id import
  .vscode/settings.json
  backend/src/conf.rs
  backend/src/db/university.rs
  backend/src/import.rs
  backend/src/legacy.rs
Due: backend-build

Import: courses
  backend/src/api/v1/course.rs
  backend/src/db/course.rs
  backend/src/import.rs
  backend/src/legacy.rs
Due: backend-build

Import: users
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/0001_initial.sql
  backend/src/api/v1/auth.rs
  backend/src/data.rs
  backend/src/db/init.rs
  backend/src/db/user.rs
  backend/src/import.rs
Due: backend-build

[WIP] Import: uploads
  backend/src/api/v1/action.rs
  backend/src/api/v1/content.rs
  backend/src/api/v1/get.rs
  backend/src/data.rs
  backend/src/db/file.rs
  backend/src/db/purchase.rs
  backend/src/db/upload.rs
  backend/src/import.rs
Due: backend-build

Backend: transaction refactor
  backend/src/api/v1.rs
  backend/src/api/v1/action.rs
  backend/src/api/v1/auth.rs
  backend/src/api/v1/content.rs
  backend/src/api/v1/course.rs
  backend/src/api/v1/ecs.rs
  backend/src/api/v1/get.rs
  backend/src/api/v1/profs.rs
  backend/src/api/v1/university.rs
  backend/src/api/v1/users.rs
  backend/src/db/course.rs
  backend/src/db/ecs.rs
  backend/src/db/init.rs
  backend/src/db/mod.rs
  backend/src/db/prof.rs
  backend/src/db/session.rs
  backend/src/db/university.rs
  backend/src/db/upload.rs
  backend/src/db/user.rs
  backend/src/main.rs
Due: backend-build

Import: uploads
  backend/migrations/0001_initial.sql
  backend/src/import.rs
Due: backend-build

Docker: only listen on 127.0.0.1
  docker-compose.yml
Due: none

Move dev docker compose to different folder
  dev_env/docker-compose.yml
Due: none

Backend: sqlx prepare
  backend/.sqlx/query-1926521a67baaf49a714955df7e0d470a028b6be355a1e019597c7c8d6f1a2b5.json
  backend/.sqlx/query-41808627eff59ddc756247ef9775b2e70d361fddc21c1bc9a60165af2c31e2e6.json
  backend/.sqlx/query-5c0a1935dea94591b4fa82f0e2fa6b4faa49fd4b516ca4116a8ef3a39db22b25.json
  backend/.sqlx/query-676d396492188e0bd99089d1c9dd151842cfb771fe91d8a5c3344ce6140ce0b6.json
  backend/.sqlx/query-8bb6109708827bdce4a3575d9450ede31c43ab43e988a92689940e9b6f5b4305.json
  backend/.sqlx/query-c9a569142e1000751e46faee4e8377e00158a80cfb5a8ba9715a624c8d6cf295.json
  backend/.sqlx/query-fac0890cec4738089d1a942cd44f76b81eda42248b0b7118e5d72b4ee0f30b10.json
  backend/.sqlx/query-ffa94b3a325e4243c65ef2fe3375b84012b63c7874df11977315b750d7b02246.json
Due: backend-build

Dockerignore `uploads`
  .dockerignore
Due: none

Backend: config things
  backend/src/conf.rs
  backend/src/main.rs
  eg_config.toml
Due: backend-build

Mail works (still needs improvement)
  backend/src/api/v1/auth.rs
  backend/src/conf.rs
  backend/src/mail/mod.rs
Due: backend-build

Backend: allow for custom configs
  backend/src/conf.rs
Due: backend-build

Backend: config things
  backend/eg_config.toml
Due: backend-build

Backend: conf the upload dir
  backend/eg_config.toml
  backend/src/api/v1/action.rs
  backend/src/api/v1/content.rs
  backend/src/api/v1/get.rs
  backend/src/conf.rs
Due: backend-build

Preview: first preview
  Dockerfile
  backend/eg_config.toml
Due: backend-build

Infra: first deploy worked
  .dockerignore
  .gitignore
  backend/eg_config.toml
  docker/docker-compose.yml
Due: backend-build

Backend: refactor to allow for fs import
  backend/src/import.rs
Due: backend-build

Backend: fix uploads path
  backend/src/api/v1/get.rs
Due: backend-build

Backend: dev cfg
  backend/tanja_eg_config.toml
Due: backend-build

Infra: dev-env
  dev_env/docker-compose.yml
Due: none

Backend: work on import code
  backend/src/db/mod.rs
  backend/src/import.rs
Due: backend-build
