Repository HTU-Graz/Egiraffe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build

backend-build:
  image: rust:slim
  stage: build
  variables:
    CARGO_HOME: ${CI_PROJECT_DIR}/.cargo
  cache:
    paths:
    - .cargo
    - backend/target
  script:
  - cd backend && cargo build
  artifacts:
    paths:
    - backend/target/debug/egiraffe

frontend-build:
  image: node:latest
  stage: build
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-9 --activate
  - pnpm config set store-dir .pnpm-store
  script:
  - cd frontend && pnpm install && pnpm run build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
  artifacts:
    paths:
  ...

Cargo: Add Mail Deps
  backend/Cargo.lock
  backend/Cargo.toml
Due: backend-build

Add mailpit-Container for Mail testing
  docker-compose.yml
Due: none

Mailtemplates
  frontend/mailtemplates/activationmail.html
  frontend/mailtemplates/activationmail.txt
  frontend/mailtemplates/layout.html
Due: frontend-build

Small comment
  backend/src/api/v1/auth.rs
Due: backend-build

Add manual prod backend builds to gitlab CI
  .gitlab-ci.yml
Due: none

Fix coloring
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/constantes.rs
  backend/src/main.rs
Due: backend-build

Fix small issue
  backend/src/conf.rs
Due: backend-build

Docs: work packages: beginning
  README.md
  backend/README.md
  design/work_pkgs.md
  frontend/README.md
Due: backend-build, frontend-build

Docs: work packages: more links
  backend/README.md
  design/README.md
  design/work_pkgs.md
  frontend/README.md
Due: backend-build, frontend-build

Frontend: #4 better responsive layout for the sorting buttons
  frontend/src/pages/uploads.tsx
Due: frontend-build

Frontend: #4 add an upload button to the Uploads screen when the top bar shrinks
  frontend/src/pages/uploads.tsx
Due: frontend-build

Frontend: #4 add an upload button to the no-uploads-yet message
  frontend/src/pages/uploads.tsx
Due: frontend-build

Docs: #3 !5 better readme
  README.md
Due: none

Frontend: refactor icons
  frontend/src/icons/Sorting.tsx
  frontend/src/pages/uploads.tsx
Due: frontend-build

Backend: #3 !5 refactor some sql
  backend/src/api/v1/ecs.rs
  backend/src/data/mod.rs
  backend/src/db/ecs.rs
Due: backend-build

Frontend: input & btn for the Users Admin-Page
  frontend/src/pages/admin/users.tsx
Due: frontend-build

Backend: add a `success` field to `handle_create_system_transaction`
  backend/src/api/v1/ecs.rs
Due: backend-build

Frontend: better user-role display in users admin-page
  frontend/src/api/users.ts
  frontend/src/pages/admin/users.tsx
Due: frontend-build

Frontend & backend: users admin-page works for system ec transactions
  backend/src/api/v1/ecs.rs
  frontend/src/pages/admin/users.tsx
Due: backend-build, frontend-build

Backend: #3 !5 fix get_available_ecs.sql & prep for its use
  backend/src/db/ecs.rs
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Frontend: slightly better UI for the Users Admin-Page
  frontend/src/pages/admin/users.tsx
Due: frontend-build

Backend: #3 !5 format get_available_ecs.sql
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Docs: #3 !5 prep work for admin panel for user management
  frontend/src/pages/admin/users.tsx
  frontend/src/routes.ts
Due: frontend-build

Frontend & backend: basic Admin User-List debug page & working API
  backend/src/api/v1/users.rs
  frontend/src/api/admin.ts
  frontend/src/pages/admin/users.tsx
Due: backend-build, frontend-build

[WIP] Backend: #3 !5 work on an admin-endpoint to get all users
  backend/src/api/v1.rs
  backend/src/api/v1/users.rs
  backend/src/data/mod.rs
Due: backend-build

Backend: #3 !5 format get_available_ecs.sql (fix)
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Frontend: better Admin User-List debug page
  frontend/src/api/admin.ts
  frontend/src/pages/admin/users.tsx
Due: frontend-build

Backend: #3 !5 fix(?) get_available_ecs.sql
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Backend & db: fix `get_available_ecs.sql`
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Backend & db: handle ECs refunded from ratings in `get_available_ecs.sql`
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Backend & db: improve spelling in `get_available_ecs.sql`
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

DB: get some IDXs going
  backend/migrations/0001_initial.sql
Due: backend-build

Backend & db: change `get_available_ecs.sql` to use scalar queries instead of CTEs
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Backend & db: add queries to get available ECs for all users at once
  backend/src/db/sql/get_available_ecs_all_users.sql
  backend/src/db/sql/get_available_ecs_all_users_alt.sql
Due: backend-build

Backend & db: fix `get_available_ecs.sql` once moe
  backend/src/db/sql/get_available_ecs.sql
Due: backend-build

Backend: #3 impl `handle_get_my_ecs` endpoint at `/api/v1/get/my-ecs-balance`
  backend/src/api/v1/get.rs
Due: backend-build

Frontend: #3 display currently available ECs to the user
  frontend/src/api/users.ts
  frontend/src/components/Navbar.tsx
Due: frontend-build

Frontend: hotfix: handle empty `files` responses in `UploadCard`
  frontend/src/components/UploadCard.tsx
Due: frontend-build

Current broken WIP state 20241222
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/0001_initial.sql
  backend/src/api/v1.rs
  backend/src/api/v1/auth.rs
  backend/src/conf.rs
  backend/src/data/mod.rs
  backend/src/db/init.rs
  backend/src/db/mod.rs
  backend/src/db/user.rs
  backend/src/mail/mod.rs
  backend/src/main.rs
  frontend/mailtemplates/activationmail.html
  frontend/mailtemplates/activationmail.txt
Due: backend-build, frontend-build

backend: tiny fix
  backend/src/conf.rs
Due: backend-build

Path conditions:
  backend-build: any of: backend/**/*
  frontend-build: any of: frontend/**/*
